@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "HomeLogin";
}


    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Imagee</title>
        <style>
            body {
                background: url('/images/background_cine.jpg');
                background-size: 100%;
            }

            .modal-header {
                background-color: white;
                padding: 10px 10px;
                border-bottom: 2px dotted #002200;
            }

            .sign-btn {
                color: #fff;
                padding: 15px;
                border-radius: 20px;
                font-size: 15px;
                margin: 10px 0;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: #4bad21;
                position: fixed;
                width: 8%;
                height: 8%;
                right: 60px;
                bottom: 5px;
            }

            .input-box {
                border-radius: 15px;
                padding: 5px;
                height: 25px;
                width: 225px;
                border: 1px solid #918787;
                outline: none;
            }



            .sign-up-form {
                width: 500px;
                height: 700px;
                box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
                background: #fff;
                padding: 20px;
                margin: 8% auto 0;
                text-align: center;
                margin-bottom: 10px;
                margin-top: 10px;
            }

            .ex1 {
                color: white;
                font-size: 50px;
            }
        </style>

    </head>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />





    <body>
        <div>

            <font class="ex1">
                <h1>Now Playing</h1>
            </font>



            <div id="myCarousel" class="carousel slide " style="width:400px; height: 400px; margin:0 auto" data-ride="carousel">

                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @{int i = 0;}
                    @foreach (Movie mov in Model.MVMovies)

                    {
                        i++;
                        var active = i == 1 ? "active" : "";
                        <div class="item @active">
                            <img src="@Url.Content(mov.Poster)" alt="Chania">
                        </div>
                    }
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>



                <button type="button" class="sign-btn" id="submit" data-toggle="modal" data-target="#loginModal" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" >CONTINUE</button>


                <div class="modal fade" role="dialog" id="loginModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="=modal-title">Sign In!</h3>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <div class="modal-body">
                                <div class="split right">
                                    <div class="sign-up-form">

                                        <br /><br /><br /><br />
                                        <FONT size="18" face="Berlin Sans FB">OnCinema</FONT>
                                        <br /><br /><br /><br />

                                        @using (Html.BeginForm("signIn", "Login", FormMethod.Post))
                                        {

                                            <div>
                                                <FONT color="black">Sign into your CinemaCity account</FONT>
                                            </div>

                                            <br />

                                            <b><FONT face="Candara" style=" margin-right: 130px;">LOGIN</FONT></b>
                                            <br />

                                            @Html.TextBoxFor(x => x.MVUser.Email, new { placeholder = "Email", @class = "input-box", @id = "Text1", @type = "text" })
                                            <br />@Html.ValidationMessageFor(x => x.MVUser.Email, "", new { @class = "error" })

                                            <br /><br />


                                            <b><FONT face="Candara" style="margin-right: 90px;">PASSWORD</FONT></b>
                                            <br />


                                            @Html.PasswordFor(x => x.MVUser.Password, new { placeholder = "Password", @class = "input-box", @id = "Text1", @type = "password" })
                                            <br />@Html.ValidationMessageFor(x => x.MVUser.Password, "", new { @class = "error" })
                                            <br /><br />


                                            @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")


                                            <input id="submit" type="submit" value="Sign in" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
                                            <br /><br />

                                            <div>
                                                Don't have an account?
                                                @Html.ActionLink(
                                                    linkText: "    Click Here",
                                                    actionName: "SignUp",
                                                    controllerName: "Login"
                                                    )
                                            </div>

                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</body>
</html>
