@model Cinema_WebSite.ModelView.CineViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Imagee</title>
    <style>
    body { background-image: url('https://focus.nouvelobs.com/2019/09/30/93/0/1024/512/1200/630/60/0/76c791e_ITVQ9DI9HdSCt4YV0ChlPNsv.jpg'); 
           background-size: cover; width: 100%; height: 100%; margin: 0; padding: 0; }


        .modal-header {
            background-color: white;
            padding: 10px 10px;
            border-bottom: 2px dotted #002200;
        }

        .sign-btn {
            color: #fff;
            padding: 15px;
            border-radius: 20px;
            font-size: 15px;
            margin: 10px 0;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: #4bad21;
            position: fixed;
            width:8%;
            height:8%;
            right:60px;
            bottom:5px;
        }





        .sign-up-form {
            width: 500px;
            height: 700px;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
            background: #fff;
            padding: 20px;
            margin: 8% auto 0;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .ex1 {
            color:white;
            font-size:50px;
        }


    </style>

</head>


<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/bootstrap.js"></script>


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />





<body>
    <div>

    <font class="ex1">
        <h1>Now Playing</h1>
    </font>

    <div id="mycarousel" class="carousel slide" data-ride="carousel" style="margin-left:38%; margin-right:38%">

        <ol class="carousel-indicators">
            <li data-target="#mycarousel" data-slide-to="0" class="active"> </li>
            <li data-target="#mycarousel" data-slide-to="1"> </li>
            <li data-target="#mycarousel" data-slide-to="2"> </li>
        </ol>



        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/A_Star_is_born-ConvertImage.jpg" />
                <div class="carousel-caption">
                    <p>For more, please connect!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/The_maze_runner-ConvertImage.jpg" />
                <div class="carousel-caption">
                    <p>For more, please connect!</p>
                </div>
            </div>

            <div class="item">
                <img src="~/Content/images/hunger_games-ConvertImage.jpg" />
                <div class="carousel-caption">
                    <p>For more, please connect!</p>
                </div>
            </div>
        </div>


        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span>
            <span class="sr-only"> Previous</span>
        </a>


        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
            <span class="sr-only"> Next</span>
        </a>


    </div>

  
        <button type="button" class="sign-btn" id="submit" data-toggle="modal" data-target="#loginModal">LOG IN</button>   
    

    <div class="modal fade" role="dialog" id="loginModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h3 class="=modal-title">Sign In!</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="split right">
                    <div class="sign-up-form">

                        <br /><br /><br /><br />
                        <FONT size="18" face="Berlin Sans FB">CinemaCity</FONT>
                        <br /><br /><br /><br />

                        @using (Html.BeginForm("signIn", "Login", FormMethod.Post))
                        {

                            <div>
                                <FONT color="black">Sign into your CinemaCity account</FONT>
                            </div>

                            <br />

                            <b><FONT face="Candara" style=" margin-right: 130px;">LOGIN</FONT></b>
                            <br />

                            @Html.TextBoxFor(x => x.MVUser.Email, new { placeholder = "Email", @class = "inputbox", @id = "Text1", @type = "text" })
                            <br />@Html.ValidationMessageFor(x => x.MVUser.Email, "", new { @class = "error" })
                            @Html.ValidationSummary(true, "This email doesn't exist!");
                            <br /><br />


                            <b><FONT face="Candara" style="margin-right: 90px;">PASSWORD</FONT></b>
                            <br />


                            @Html.TextBoxFor(x => x.MVUser.Password, new { placeholder = "Password", @class = "inputbox", @id = "Text1", @type = "text" })
                            <br />@Html.ValidationMessageFor(x => x.MVUser.Password, "", new { @class = "error" })
                            <br /><br />



                            <input id="submit" type="submit" value="Sign in" />
                            <br /><br />

                            <div>
                                Don't have an account?
                                @Html.ActionLink(
                                    linkText: "    Click Here",
                                    actionName: "SignUp",
                                    controllerName: "Login"
                                    )
                            </div>

                        }
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</body>
</html>
