@model Cinema_WebSite.Models.MembersLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Priiiint</title>
</head>
<body>
    <div>
        <br /> FirstName : @Model.FirstName
        <br /> LastName : @Model.LastName
        <br /> Username : @Model.Username
        <br /> Email : @Model.Email
        <br /> Password : @Model.Password
    </div>
</body>
</html>
