@model Cinema_WebSite.Models.MembersLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <style>
    body { background-image: url('https://image.freepik.com/free-photo/top-view-arrangement-of-cinema-elements-on-yellow-background-with-copy-space_23-2148416777.jpg'); 
           margin: 0; padding: 0; font-family: sans-serif; background-size: cover; background-position: center; }



    .sign-up-form{
        width:325px;
        height:475px;
        box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
        background:#fff;
        padding:20px;
        margin: 8% auto 0;
        text-align:center;
        margin-bottom:50px;
        margin-top:55px;

    }

        .sign-btn {
            color: #fff;
            width: 100%;
            padding: 10px;
            border-radius: 20px;
            font-size: 15px;
            margin: 10px 0;
            border: none;
            outline: none;
            cursor: pointer;
            background-color: darkred;
        }

        .input-box {
            border-radius: 15px;
            padding: 5px;
            height: 15px;
            width: 225px;
            border: 1px solid #918787;
            outline: none;
        }

        .error{
            color:darkred;
            font-family:Candara;
            font-size:70%;
            font-weight:bold;
        }

       

    </style>
</head>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>





<body>
    <div class="sign-up-form">
        <h1>Sign Up Now</h1>
        <form action="Register" method="post">
            <br />
            
            @Html.TextBoxFor(x => x.FirstName, new { placeholder = "First Name", @class = "input-box", @id = "Text1", @type = "text", value = Model.FirstName })
            <br />@Html.ValidationMessageFor(x => x.FirstName, "", new { @class = "error" })
            <br /><br />

           
            @Html.TextBoxFor(x => x.LastName, new { placeholder = "Last Name", @class = "input-box", @id = "Text1", @type = "text", value = Model.LastName })
            <br />@Html.ValidationMessageFor(x => x.LastName, "", new { @class = "error" })
            <br /><br />

            
            @Html.TextBoxFor(x => x.Email, new { placeholder = "Email", @class = "input-box", @id = "Text1", @type = "email", value = Model.Email })
            <br />@Html.ValidationMessageFor(x => x.Email, "", new { @class = "error" })
            <br /><br />

            
            @Html.TextBoxFor(x => x.Username, new { placeholder = "Username", @class = "input-box", @id = "Text1", @type = "text", value = Model.Username })
            <br />@Html.ValidationMessageFor(x => x.Username, "", new { @class = "error" })
            <br /><br />

            
            @Html.TextBoxFor(x => x.Password, new { placeholder = "Password", @class = "input-box", @id = "Text1", @type = "password", value = Model.Password })
            <br />@Html.ValidationMessageFor(x => x.Password, "", new { @class = "error" })
            <br /><br />



            <input id="submit1" type="submit" class="sign-btn" value="Sign in">
        </form>
       


    </div>
</body>
</html>