@model Cinema_WebSite.ModelView.CineViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <style>
       
            body

        {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }




        .sign-up-form {
            width: 325px;
            height: 545px;
            box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
            background: #fff;
            padding: 20px;
            margin: 8% auto 0;
            text-align: center;
            margin-bottom: 50px;
            margin-top: 55px;
            background-color: rgba(201, 150, 115, 0.8);
            border-color:darkgray;
        }



        .input-box {
            border-radius: 15px;
            padding: 5px;
            height:22px;
            width: 225px;
            border: 1px solid #918787;
            outline: none;
        }

    </style>
</head>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>





<body>
    <div class="sign-up-form">
        <h1>Sign Up Now</h1>

        @using (Html.BeginForm("Register", "Login", FormMethod.Post))
        {

            <br />

            @Html.TextBoxFor(x => x.MVUser.FirstName, new { placeholder = "First Name", @class = "input-box", @id = "Text1", @type = "text" })
            <br />@Html.ValidationMessageFor(x => x.MVUser.FirstName, "", new { @class = "error" })
            <br /><br />


            @Html.TextBoxFor(x => x.MVUser.LastName, new { placeholder = "Last Name", @class = "input-box", @id = "Text1", @type = "text" })
            <br />@Html.ValidationMessageFor(x => x.MVUser.LastName, "", new { @class = "error" })
            <br /><br />


            @Html.TextBoxFor(x => x.MVUser.Email, new { placeholder = "Email", @class = "input-box", @id = "Text1", @type = "email" })
            <br />@Html.ValidationMessageFor(x => x.MVUser.Email, "", new { @class = "error" })
            <br /><br />


            @Html.TextBoxFor(x => x.MVUser.Password, new { placeholder = "Password", @class = "input-box", @id = "Text1", @type = "password" })
            <br />@Html.ValidationMessageFor(x => x.MVUser.Password, "", new { @class = "error" })
            <br /><br />


            @Html.TextBoxFor(x => x.MVUser.ConfirmPassword, new { placeholder = "Password", @class = "input-box", @id = "Text1", @type = "password" })
            <br />@Html.ValidationMessageFor(x => x.MVUser.ConfirmPassword, "", new { @class = "error" })
            <br /><br />



            <input id="submit1" type="submit" class="sign-btn" value="Sign in" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;">

        }
        @using (Html.BeginForm("HomeLogin", "Login", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Home" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }


    </div>
</body>
</html>