@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "ClientHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ClientHome</title>
    <style>
        <style >
        * {
            padding: 0px;
            margin: 0px;
        }

        a {
            text-decoration: none;
            color: black;
            display: block;
            font-size:15px;
            padding: 20px 5px;
            color: white;
        }

        body {
            font-family: Arial;
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        ul {
            top: 50px;
            position: absolute;
            width: 100%;
        }

        img {
            width: 40px;
        }

        input[type="checkbox"] {
            display: none;
        }

        nav {
            background-color: rgba(16,16,16,.8);
            width: 350px;
            height: 100%;
            position: absolute;
            left: -350px;
            transition: all .5s;
        }

        input[type="checkbox"]:checked ~ nav {
            transform: translateX(350px);
        }

        a:hover {
            background-color: rgba(176,224,230);
            color: black;
        }

        label {
            padding: 15px;
            position: absolute;
            z-index: 1;
        }

        h1 {
            text-align: center;
        }

        th, td {
            border: 1px solid black;
            margin-left: 10px;
            text-align: center;
            padding: 5px;
        }

        table {
            border: 1px solid black;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .field-validation-error {
            color: black;
            font-weight: bold;
            font-size: 12px;
        }
        .container {
            width: 300px;
            height: 100px;
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
    </style>









</head>
<body>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MVUser.Email)


    <input type="checkbox" id="chec">
    <label for="chec">
        <label>  </label><img src="~/images/risco_menu.png" />
    </label>


    <nav>
        <ul>
            <li><a href="@Url.Action("MyReservation","Client")">MY RESERVATION</a></li>
            <li><a href="@Url.Action("ChangePasswordClient","Client")">CHANGE PASSWORD</a></li>
            <li><a href="@Url.Action("Logout","Client")">LOG OUT</a></li>
            <li><a href="@Url.Action("ShoppingCard","Client")">SHOPPING CARD</a></li>




        </ul>
    </nav>


    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.Message');
            };
        </script>
    }

    @if (ViewBag.message13 != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.message13');
            };
        </script>
    }


    <div style=" background-color: rgba(201, 150, 115, 0.8);    border-color: black;        border-style: solid;        width: 98%;        margin-left: auto;        margin-right: auto;">
        <div>
            <h1>Welcome @Html.DisplayFor(x => x.MVUser.FirstName) @Html.DisplayFor(x => x.MVUser.LastName)</h1>
        </div>
        @using (Html.BeginForm("ValidFilter", "Client", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MVMovieProjection.Id)
            @Html.HiddenFor(model => model.MVMovie.Id)


            <div style="margin-left: 20px; padding:20px">



                <i>Filter :</i>
                @Html.DropDownListFor(x => x.MVFilterType.filter_type, new List<SelectListItem>
            {

            new SelectListItem{Text="Price Increase", Value="Price Increase"},
            new SelectListItem{Text="Price Decrease", Value="Price Decrease"},


            }, "-- Select Filter --")
                <br />@Html.ValidationMessageFor(x => x.MVFilterType.filter_type, "", new { @class = "error" })
                <br />


                <i>Category : </i>
                @Html.DropDownListFor(m => m.MVMovie.Category, new SelectList(Enum.GetValues(typeof(Category))), "-- Select Category --")
                <br />@Html.ValidationMessageFor(x => x.MVMovie.Category, "", new { @class = "error" })
                <br /><br />


                <input id="Submit1" type="submit" value="Appliquer" />
            </div>

        }


    </div>
    <br /><br /><br />


    <table>
        <tr>
            <th>Title</th>
            <th>Realisator</th>
            <th>Category</th>
            <th>Limitation Age</th>
            <th>Price</th>
            <th>Date Release</th>
            <th>Running Time</th>
            <th>Poster</th>
            <th></th>
        </tr>
        @foreach (Movie x in Model.MVMovies)
        {



            <tr>
                <td>
                    @using (Html.BeginForm("ProjectionDates", "Client", new { id = x.Id }))
                    {
                        <input type="submit" value="@x.Title" />
                    }
                </td>

                <td>@x.Realisator</td>
                <td>@x.Category</td>
                <td>@x.LimitAge</td>
                <td>@x.Price</td>
                <td>
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", @x.ReleaseDate))
                </td>
                <td>@x.RunningTime minutes</td>

                <td style="margin-top:15px"><img src="@Url.Content(x.Poster)" height="100" width="250" /></td>




            </tr>


        }
    </table>


</body>
</html>

