@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "MyReservation";

}

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>



        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        th, td {
            border: 1px solid black;
            margin-left: 10px;
            padding: 5px;
            text-align: center;
        }

        table {
            border: 1px solid black;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .field-validation-error {
            color: black;
            font-weight: bold;
            font-size: 12px;
        }

        .container {
            width: 300px;
            height: 100px;
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
    </style>

</head>




<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<body>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts{


    }


    <table>
        <tr>
            <th>Order Number</th>
            <th>Title</th>
            <th>Projection Date</th>
            <th>Projection hours</th>
            <th>Price</th>


        </tr>
        @foreach (Reservation x in Model.MVMReservations)
        {



            <tr>
                <td>@x.OrderNumber</td>
                <td>@x.Title</td>
                <td>@x.ProjectionDate</td>
                <td>@x.BeginProjectionHour  - @x.EndProjectionHour</td>
                <td>@x.Price</td>


            </tr>


        }
    </table>









    <div class="container">
        @using (Html.BeginForm("ClientHome", "Client", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Home Page" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }

        @using (Html.BeginForm("Logout", "Client", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Log out" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }

    </div>


</body>
</html>
