@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "SelectMovieReservation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>




        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        th, td {
            border: 1px solid black;
            margin-left: 10px;
            text-align: center;
            padding: 5px;
        }

        table {
            border: 1px solid black;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .field-validation-error {
            color: black;
            font-weight: bold;
            font-size: 12px;
        }

        .container {
            width: 300px;
            height: 100px;
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }  
    </style>

</head>




<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<body>

    <div style=" background-color: rgba(201, 150, 115, 0.8);    border-color: black;        border-style: solid;        width: 98%;        margin-left: auto;        margin-right: auto; padding:20px">
        <h1 style="text-align:left;text-decoration: underline;">@Html.DisplayFor(x => x.MVMovieProjection.Title)</h1>

        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (ViewBag.message1 != null)
        {
            <script type="text/javascript">
            window.onload = function () {
                alert('@ViewBag.message1');
            };
            </script>
        }

       
        @Html.HiddenFor(model => model.MVMovieProjection.Id)


        <dl style="align-items:normal;">

            <dt>
                @Html.DisplayNameFor(x => x.MVMovieProjection.ProjectionDate): @Html.DisplayFor(x => x.MVMovieProjection.ProjectionDate)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovieProjection.ProjectionHall) : @Html.DisplayFor(x => x.MVMovieProjection.ProjectionHall)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovieProjection.BeginProjectionHour) : @Html.DisplayFor(x => x.MVMovieProjection.BeginProjectionHour)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovieProjection.EndProjectionHour) : @Html.DisplayFor(x => x.MVMovieProjection.EndProjectionHour)
            </dt>


        </dl>



    </div>



        <table>
            <tr>
                <th>Hall Name</th>
                <th>Seat Number</th>
                <th>Status Seat</th>

                <th></th>
            </tr>
            @foreach (SeatHallProjection x in Model.MVMSeatsHall)
            {



                <tr>
                    <td>@x.Hall_Name</td>
                    <td>@x.SeatNumber</td>
                    <td>@x.StatusSeat</td>




                    <td style="background-color:transparent">

                        @using (Html.BeginForm("ChooseSeat", "Client", new { id = x.Id }))
                        {
                            <input type="submit" style="border-radius: 12px; background-color:rgba(201, 150, 115, 0.8);"  value="Select this seat" />
                        }

                    </td>

                </tr>


            }
        </table>
        @Html.ValidationSummary(true, "Impossible to select an occupied seat!")
    </div>



    <div class="container">

        @using (Html.BeginForm("ClientHome", "Client", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Home Page" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }



        @using (Html.BeginForm("ClientHome", "Client", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Continue shop" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }


        @using (Html.BeginForm("Logout", "Client", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Log out" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }

    </div>
</body>

</html>