@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "DetailsMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

</head>

<body>
    <div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(x => x.MVMovie.Title)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovie.Hall)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovie.Limitation_Age)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovie.Category)
            </dt>
            <dt>
                @Html.DisplayNameFor(x => x.MVMovie.Price)
            </dt>


        </dl>


    </div>
    <p>
        @Html.ActionLink("Edit", "Edit") |
        @Html.ActionLink("Back to List", "ManageMovies")
    </p>

</body>

