@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageMovies</title>
    <style>

        img {
            float: left;
        }

        tab {
            float: right;
        }


    </style>
</head>
<body>
    <div>
        <a>@Html.ActionLink("Add Movies", "AddMovies", "Administrator")</a>

        <br />

        @foreach (MovieNew x in Model.MVMovies)
        {

            using (Html.BeginForm("Delete", "Administrator", new { id = x.Title }))
            {
                <p>
                    <tr>
                        <td><img src="@Url.Content(x.ImagePath)" height="100" width="100" /></td>
                        <td>@x.Title</td>
                        
                        <td>
                            @Html.ActionLink("Edit", "AddMovies", "Administrator") |
                            <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @x.Title');" />
                        </td>
                    </tr>
                    <br /><br /><br /><br /><br /><br />
                </p>
            }

        }


    </div>
</body>
</html>
