@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "ManageMovies2";

}

<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Index</title>
    <style>

        .ui-datepicker-trigger {
            float: inherit;
            glyph-orientation-vertical: auto;
        }

        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        th, td {
            border: 1px solid black;
            margin-left: 10px;
            text-align: center;
        }

        table {
            border: 1px solid black;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        .field-validation-error {
            color: black;
            font-weight: bold;
            font-size: 12px;
        }
    </style>

</head>




<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<body>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    @section scripts{

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <script>
            $(function () {
                var dateToday = new Date();
                $(".datepicker").datepicker({
                    //showOn: 'both',
                    dateFormat: "dd/mm/yy",
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "2021:2023",
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    showButtonPanel: true,
                    minDate: dateToday,
                });
            });

        </script>
    }




    <div style=" background-color: rgba(201, 150, 115, 0.8);    border-color: black;        border-style: solid;        width: 98%;        margin-left: auto;        margin-right: auto;">
        <h1 style="text-align:left">Add a Movie</h1>
        @using (Html.BeginForm("Savee2", "Administrator", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


    <div style="margin-left: 20px">








        <i>Title</i>
        @Html.DropDownListFor(x => x.MVMovieProjection.Title, (SelectList)ViewBag.Titleid, "--Select Title--", "Title")

        <br />@Html.ValidationMessageFor(x => x.MVMovieProjection.Title, "", new { @class = "error" })





        <br />
        <i>Date Projection :</i>
        @Html.TextBoxFor(x => x.MVMovieProjection.ProjectionDate, new { placeholder = "Projection Date", @class = "input-box", @id = "Text1", @type = "text" })
        <br />@Html.ValidationMessageFor(x => x.MVMovieProjection.ProjectionDate, "", new { @class = "error" })
        <br />



        <br />
        <i>Begin Projection hour  :</i>
        @Html.TextBoxFor(x => x.MVMovieProjection.BeginProjectionHour, new { placeholder = "Begin Projection Hour", @class = "input-box", @id = "Text1", @type = "text" })
        <br />@Html.ValidationMessageFor(x => x.MVMovieProjection.BeginProjectionHour, "", new { @class = "error" })
        <br />




        <i>Hall</i>
        @Html.DropDownListFor(x => x.MVMovieProjection.ProjectionHall, (SelectList)ViewBag.Hallid, "--Select Hall--", "Hall_Name")

        <br />@Html.ValidationMessageFor(x => x.MVMovieProjection.ProjectionHall, "", new { @class = "error" })

        <br />


        <input id="submit1" type="submit" class="sign-btn" value="Save" style="margin-bottom: 10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;">

    </div>
        }
    </div>


    <br /><br /><br />
    
    
    <table>
        <tr>
            <th>Title</th>
            <th>Projection Date</th>
            <th>Begin Projection Hour</th>
            <th>Hall</th>
            <th></th>
        </tr>
        @foreach (MovieProjection x in Model.MVMoviesProjection)
        {



            <tr>
                <td>@x.Title</td>
                <td>@x.ProjectionDate</td>
                <td>@x.BeginProjectionHour</td>
                <td>@x.ProjectionHall</td>
                
                

                <td style="background-color:transparent">

                    @using (Html.BeginForm("DeleteMovie", "Administrator", new { id = x.Id }))
                    {
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete record with ID = @x.Id');" />
                    }
                    @using (Html.BeginForm("UpdateMovie", "Administrator", new { id = x.Id }))
                    {
                        <input type="submit" value="Update" />
                    }
                    @using (Html.BeginForm("DetailsMovie", "Administrator", new { id = x.Id }))
                    {
                        <input type="submit" value="Detail" />
                    }
                </td>

            </tr>


        }
    </table>
    @using (Html.BeginForm("Logout", "Administrator", FormMethod.Post))
    {
        <input id="Submit1" type="submit" value="Log out" />
    }


</body>
</html>
