@model Cinema_WebSite.ModelView.CineViewModel
@using Cinema_WebSite.Models
@{
    ViewBag.Title = "UpdateMovies";

}
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <style>

        .ui-datepicker-trigger {
            float: inherit;
            glyph-orientation-vertical: auto;
        }

        body {
            background: url('/images/background_cine.jpg');
            background-size: 100%;
        }

        .container {
            width: 300px;
            height: 75px;
            display: flex;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
        .sign-up-form {
            width: 88%;
            height: 550px;
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
            background: #fff;
            padding: 20px;
            margin: 8% auto 0;
            margin-bottom: 50px;
            margin-top: 55px;
            background-color: rgba(201, 150, 115, 0.8);
            border-color: black;
            border-radius: 5px;
        }
        .input-box {
            border-radius: 15px;
            padding: 5px;
            height: 22px;
            width: 225px;
            border: 1px solid #918787;
            outline: none;
        }
    </style>

</head>




<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<body>



    <div class="container">
        @using (Html.BeginForm("AdministratorHome", "Administrator", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Home" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }

        @using (Html.BeginForm("Logout", "Administrator", FormMethod.Post))
        {
            <input id="Submit1" type="submit" value="Log out" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;" />
        }
        @using (Html.BeginForm("BackManageMovies", "Administrator", FormMethod.Post))
        {
            <input id="submit1" type="submit" class="sign-btn" value="Back Manage Movies" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;">

        }
    </div>






    <div class="sign-up-form">
        <h1 style="text-align:left">Update Movie</h1>

        @using (Html.BeginForm("SaveUpdateMovie", "Administrator", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MVMovie.Id)

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.MVMovie.Id)
                @Html.HiddenFor(model => model.MVMovieProjection.Title)

                <div>
                    <b>Title :</b>
                    @Html.TextBoxFor(x => x.MVMovie.Title, new { placeholder = "Title", @class = "input-box", @id = "Text1", @type = "text" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.Title, "", new { @class = "error" })
                    <br />

                    <b>Realisator :</b>
                    @Html.TextBoxFor(x => x.MVMovie.Realisator, new { placeholder = "Realisator", @class = "input-box", @id = "Text1", @type = "text" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.Realisator, "", new { @class = "error" })
                    <br />

                    <b>Category : </b>
                    @Html.DropDownListFor(m => m.MVMovie.Category, new SelectList(Enum.GetValues(typeof(Category))), "-Category-")
                    <br /><br />

                    <b>Age Limitation :</b>
                    @Html.DropDownListFor(x => x.MVMovie.LimitAge, new List<SelectListItem>
                {
                new SelectListItem{Text="G - General Audiences", Value="G - General Audiences"},
                new SelectListItem{Text="18 - Adults only", Value="18 - Adults only"},
                new SelectListItem{Text="16 - Over 16 years", Value="16 - Over 16 years"},
                new SelectListItem{Text="12 - Over 12 years", Value="12 - Over 12 years"},

                }, "-- Select Limit Age --")
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.LimitAge, "", new { @class = "error" })
                    <br />

                    <br />
                    <v>Release Date  :</v>
                    @Html.EditorFor(x => x.MVMovie.ReleaseDate, new { placeholder = "Release Date", @class = "form-control", @id = "Text1", @type = "text" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.ReleaseDate, "", new { @class = "error" })
                    <br />


                    <br />
                    <b>Running Time (in minutes) :</b>
                    @Html.TextBoxFor(x => x.MVMovie.RunningTime, new { placeholder = "Running Time", @class = "input-box", @id = "Text1", @type = "text" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.RunningTime, "", new { @class = "error" })
                    <br />

                    <b>Price :</b>
                    @Html.TextBoxFor(x => x.MVMovie.Price, new { placeholder = "Running Time", @class = "input-box", @id = "Text1", @type = "text" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.Price, "", new { @class = "error" })
                    <br />



                    <b> Poster :</b>
                    @Html.LabelFor(x => x.MVMovie.Poster, new { placeholder = "ImagePath" })
                    <br />@Html.ValidationMessageFor(x => x.MVMovie.Poster, "", new { @class = "error" })
                    <input type="file" id="file" name="file" style="align-items:center" />

                    <br />

                </div>
            </div>
            <input id="submit1" type="submit" class="sign-btn" value="Save Changement" style="margin:10px;border-radius: 6px; background-color:black; color:white; padding: 8px 20px;">

        }


    </div>




</body>
</html>




